<div class="main">
    <h1>ショッピングカート</h1>

    <div class="cart">
        <table>
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @cartitems.each do |cart| %>
                    <tr>
                        <td><%= attachment_image_tag cart.item, :image, :fill, 50,70 %><%= cart.item.name %></td>
                        <td><%= (cart.item.notax_price * 1.1).round %></td>
                        <%= form_for cart,url: public_cart_item_path(cart.id) do |item| %>
                        <td><%= item.text_field :amount %><%= item.submit "変更", class:"btn btn-primary" %></td>
                        <% end %>
                        <td><%= (cart.item.notax_price * 1.1 * cart.amount).round %></td>
                        <td><%= link_to "削除", public_cart_item_path(cart),method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
        <%= link_to "カートを空にする",  public_cart_items_cleare_path, method: :delete, class: "btn btn-danger", data: {confirm: "カートないを削除します。よろしいですか？"}  %>

        <div class="action">
            <%= link_to "商品入力に進む", new_public_order_path, class: "btn btn-success" %>
        </div>
    </div>
</div>