<div class="main">
    <h1>商品詳細画面</h1>

    <div class="image">
        <%= attachment_image_tag @item, :image,:fill,150,200 %>
    </div>
    <div class="text">
        <h3><%= @item.name %></h3>
        <div class="introduction">
            <%= @item.introduction %>
        </div>
        <h4>¥ <%= (@item.notax_price * 1.1).round %>(税込)</h4>
    </div>
    <%= form_for @cart, url: public_cart_items_path do |f| %>
        <%= f.hidden_field :end_user_id, :value => current_end_user.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, [[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9]] %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
    <% end %>
</div>